<ion-content [fullscreen]="true">
  <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
    <ion-fab (click)="cerrarSesion()" horizontal="start">
      <ion-fab-button>
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-button  class="facil" (click)="irHacia('/facil')">
      facil
    </ion-button>
    <ion-button  class="medio" (click)="irHacia('/medio')">
      medio
    </ion-button>
    <ion-button  class="dificil" (click)="irHacia('/dificil')">
      dificil
    </ion-button>
  </div>

</ion-content>
