<div class="container">
  <div class="container-image">
    <img id='icon' src="assets/icon/memoria.png" class="roll-in-top">
  </div>
  <div class="lblsNombre tracking-in-contract-bck-bottom">
    <label>T</label>
    <label>O</label>
    <label>M</label>
    <label>A</label>
    <label>S</label>
  </div>
  <div class="lblsApellido tracking-in-contract-bck-bottom">
    <label>G</label>
    <label>A</label>
    <label>U</label>
    <label>N</label>
    <label>A</label>
  </div>

  <label id="division" class="tracking-in-contract-bck-bottom">4 A</label>
</div>